<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" routerLink="#">WebSiteName</a> -->
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      
    </ul>
    <!-- <form class="navbar-form navbar-left" action="/action_page.php"></form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/register"></a></li>
        <!-- <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" routerLink="SignUp">SignUp
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="register">Register</a></li>
          <li><a routerLink="login">Login</a></li>
        </ul>
      </li> -->
      <li onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  